body {
    background-image: url("/img/boredcat.jpg");
    background-size: cover;
}

.search-img {
    width: 350px;
    height: 350px;
}

.window-wrapper {
    overflow-y: auto;
}

.window-wrapper::-webkit-scrollbar {
    display: none;
}
.video {
    width: 350px;
    height: 300px;
}

.tab-content > .active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

[data-content] {
    height: 90vh;
}
.form-text {
    color: white;
}
