body {
    background-image: url("/img/boredcat.jpg");
    background-size: cover;
}

.search-img {
    width: 350px;
    height: 350px;
}

.window-wrapper {
    overflow-y: auto;
}

.window-wrapper::-webkit-scrollbar {
    display: none;
}
.video {
    width: 350px;
    height: 300px;
}

iframe {
    z-index: 4;
}

.fade {
    z-index: 1;
}

.active {
    z-index: 3;
}
img {
    z-index: 1;
}
.z-index1 {
    z-index: 1;
}

.tab-content > .active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
