<div class="container">
    <div data-form="wrapper" class="row justify-content-center">
        <h3 class="text-center">Login</h3>
        <form name="login" class="col-4">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input name="email" type="" class="form-control" id="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script defer type="module" src="/js/login.js"></script>